$white: #f2f2e9;
$grey: #66676c;
$black: #231f20;
$beige: #f6f4ed;
$blue1: #3d4a9a;
$blue2: #5ac6ed;
$red1: #e7392e;
$red2: #f38882;
$green1: #00a1a2;
$green2: #7dc3a8;
$yellow1: #ffd239;
$yellow2: #fcf28f;
$orange: #eb5c38;
