$white:#F2F2E9;
$grey:#66676C;
$black:#231F20;
$beige:#FAF0E5;
$blue1:#0084CA;
$blue2:#5AC6ED;
$red1:#EB273A;
$red2:#F38882;
$green1:#00A055;
$green2:#7DC3A8;
$yellow1:#F8EB28;
$yellow2:#FCF28F;
$orange:#F7931D;