@media (min-width: media(ms)) {
	.nav {
		display: flex;
		gap: 1rem;
		width: 100%;
		justify-content: flex-end;
		&_link {
			background-color: $white;
			color: $black;
			font-weight: 700;
			white-space: nowrap;
			padding: 0.25rem 0.5rem;
			border-radius: 1rem;
			box-shadow: 3px 3px 4px 0px #000000d6;
			border: 1px solid $black;
			text-transform: capitalize;
			line-height: 1.2;
		}
		@media (min-width: media(md)) {
			gap: 2rem;
		}
	}
}
@media (max-width: media(ms)) {
	.nav {
		position: fixed;
		flex-direction: column;
		background-color: $white;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: 1000;
		align-items: center;
		text-transform: uppercase;
		gap: 2rem;
		&_title {
			justify-self: flex-start;
			margin-block: 2rem;
		}
		&_link {
			padding: 0.5rem 1rem;
			font-weight: 700;
			color: $black;
			border: 1px solid $black;
			border-radius: 0.5rem;
			box-shadow: 1px 1px 4px 0px #000000d6;
		}
		&_closeBtn {
			position: absolute;
			right: 1rem;
			top: 1rem;
			font-weight: 700;
			font-size: 1.4rem;
			border: 1px solid black;
			width: 2rem;
			height: auto;
			aspect-ratio: 69 /69;
			border-radius: 50%;
			line-height: 1;
		}
		&-closed {
			display: none;
			animation: menuOut 0.3s ease-in forwards;
			animation-play-state: paused;
		}
		&-open {
			display: flex;
			animation: menuIn 0.3s ease-in forwards;
		}
	}
}
@keyframes menuIn {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0%);
	}
}

@keyframes menuOut {
	99% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(100%);
		display: none;
	}
}
