.footer {
	position: relative;
	background-color: $grey;
	padding: 1rem;
	color: $white;
	font-weight: 500;
	white-space: nowrap;
	margin-top: 4rem;
	&::before {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		height: 2.5rem;
		top: 0;
		background-color: inherit;
		transform: translateY(-50%) skewY(-2deg);
		z-index: -1;
	}
	&_container {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		width: fit-content;
		gap: 1rem;
		flex-wrap: wrap;
		justify-content: flex-start;
		font-weight: 500;
		@media (min-width: media(ms)) {
			align-items: center;
			flex-direction: row;
		}
		@media (min-width: media(md)) {
			width: 100%;
		}
	}
	&_socialNetwork {
		display: flex;
		align-items: center;
		gap: 0.8rem;
		svg {
			height: 2.5rem;
		}
	}

	&_link {
		position: relative;
		color: $white;
		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: -2px;
			width: 100%;
			height: 2px;
			border-radius: 1px;
			background-color: $white;
			transform-origin: 0 0;
			transform: scale(0, 1);
			transition: transform 0.3s ease-out;
		}
		&:hover::after,
		&:focus::after {
			transform: scale(1);
		}
	}
	@media (min-width: media(md)) {
		&::before {
			transform: translateY(-50%) skewY(-1deg);
		}
	}
	@media (min-width: media(xl)) {
		svg {
			height: 4rem;
		}
	}
}

.social_bg,
.social_fw {
	transition: fill 0.4s ease;
}
svg:hover .social_bg {
	fill: $white;
}
svg:hover .social_fw {
	fill: $black;
}
