.header {
	display: flex;
	align-items: center;
	background-color: $blue1;
	height: 4rem;
	&_logoContainer {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 80%;
	}
	&_logo {
		object-fit: cover;
		height: 100%;
	}
	&_navBtn {
		height: 100%;
		width: auto;
		aspect-ratio: 69 / 69;
		background-color: $blue2;
		color: $white;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 1rem;
		text-shadow: 1px 1px darken($blue2, 30);
	}
	@include above(ms) {
		padding-inline: 1rem;
		&_logoContainer {
			width: fit-content;
		}
	}
	@include above(md) {
		height: 7rem;
		padding-inline: 2rem;
		&_logoContainer {
			height: 100%;
		}
	}
}
